body {
    background-image: url("binary.jpg");
    background-size: cover;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
	color: green;
	height: 100vh;
}
.container{
    max-width: 300px;
    margin: auto;
	margin-top: 50px;
    box-shadow: 1px 2px 10px black;
    padding: 20px;
	background: black;
	border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px black;
    transition: transform 0.15s, opacity 0.15s;
}

button:hover{
    transform: scale(1.03);
    opacity: 90%;
    cursor: pointer;
}

#increment-btn {
   background: #7FF000;
}

#save-btn {
    background: #0A6522;
}

